@model IList<ElyriaAlumniAssociation.Models.DeletedAlumnus>

@{
    ViewData["Title"] = "Index";
}

<h1>Deleted Alumni</h1>

<form asp-controller="Alumni" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="allcheck" id="selectAll" /> Select All
                </th>
                <th>
                    <a asp-action="Index">First Name</a>
                </th>
                <th>
                    <a asp-action="Index" >Last Name</a>
                </th>
                <th>
                    <a asp-action="Index" >School</a>
                </th>
                <th>
                    <a asp-action="Index" >Graduation Year</a>
                </th>
                <th>
                    <a asp-action="Index" >City</a>
                </th>
                <th>
                    <a asp-action="Index" >State</a>
                </th>
                <th>
                    <a asp-action="Index" >Country</a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model[i].Selected" value="true" type="checkbox" />
                        <input asp-for="@Model[i].Id" type="hidden" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].School)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].GraduationYear)
                    </td>

                    <td>
                        @Html.DisplayFor(model => Model[i].City)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].State)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].Country)
                    </td>                
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Permanently Delete Selected
        </button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#restoreModal">
            Restore Selected
        </button>
        <a class="btn btn-primary" asp-area="" asp-controller="Alumni" asp-action="Index">View Data</a>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete the selected entries? They will be permanently deleted.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" asp-action="DeleteAlumni" class="btn btn-warning">Delete Selected</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="restoreModal" tabindex="-1" aria-labelledby="restoreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="restoreModalLabel">Restore</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>The selected entries will be restored. Do you wish to proceed?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" asp-action="RestoreAlumni" class="btn btn-success">Restore</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
             $(function (){
            $("#selectAll").click(function (){
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
            });
            $("input[type=checkbox]").click(function () {
                if(!$(this).prop("checked")) {
                    $("#selectAll").prop("checked", false);
                }
            });
        })
    </script>
}