@model ElyriaAlumniAssociation.Utils.PaginatedList<ElyriaAlumniAssociation.Models.Alumnus>

@{
    ViewData["Title"] = "Index";
}

<h1>View Alumni Information</h1>
<br />

<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<br />
<div class="container">
    <form>
        <div class="row">
            <div class="col-12 mb-3">
                <h4>
                    Search Criteria (filters are cumulative):
                </h4> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="First Name" name="firstNameSearch" value="@ViewData["FirstNameFilter"]" />
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="City" name="citySearch" value="@ViewData["CityFilter"]" />
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="Graduation Years Start" name="graduationYearStartSearch" id="GraduationStart" value="@ViewData["GraduationStartFilter"]" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="Last Name" name="lastNameSearch" value="@ViewData["LastNameFilter"]" />
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="State" name="stateSearch" value="@ViewData["StateFilter"]" />
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="Graduation Years End" name="graduationYearEndSearch" id="GraduationEnd" value="@ViewData["GraduationEndFilter"]" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="Country" name="countrySearch" value="@ViewData["CountryFilter"]" />
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="School Attended" name="schoolSearch" value="@ViewData["SchoolFilter"]" />
            </div>
        </div>
         <div class="row">
            <div class="col-md-4 mb-3">
                
            </div>
            <div class="col-md-4 mb-3">
               
            </div>
            <div class="col-md-4 mb-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                @if (ViewData["ScholasticFilter"].Equals(true))
                        {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="scholasticSearch" value="true" /> Scholastic Award
                    </label>
                        }
                        else
                        {
                    <label class="form-check-label">
                        <input type="checkbox" name="scholasticSearch" value="true" /> Scholastic Award
                    </label>
                        }
                        @if (ViewData["AthleticsFilter"].Equals(true))
                        {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="athleticsSearch" value="true" /> Athletics
                    </label>
                        }
                        else
                        {
                    <label class="form-check-label">
                        <input type="checkbox" name="athleticsSearch" value="true" /> Athletics
                    </label>
                        }
                        @if (ViewData["TheatreFilter"].Equals(true))
                        {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="theatreSearch" value="true" /> Theatre
                    </label>
                        }
                        else
                        {
                    <label class="form-check-label">
                        <input type="checkbox" name="theatreSearch" value="true" /> Theatre
                    </label>
                        }
					@if (ViewData["BandFilter"].Equals(true))
                        {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="bandSearch" value="true" /> Band
                    </label>
                        }
                        else
                        {
                    <label class="form-check-label">
                        <input type="checkbox" name="bandSearch" value="true" /> Band
                    </label>
                        }
            </div>
            <div class="col-md-4 mb-3">
                @if (ViewData["ChoirFilter"].Equals(true))
                {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="choirSearch" value="true" /> Choir
                    </label>
                }
                else
                {
                    <label class="form-check-label">
                        <input type="checkbox" name="choirSearch" value="true" /> Choir
                    </label>
                }
                @if (ViewData["ClubsFilter"].Equals(true))
                {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="clubsSearch" value="true" /> Clubs
                    </label>
                }
                else
                {
                    <label class="form-check-label">
                        <input type="checkbox" name="clubsSearch" value="true" /> Clubs
                    </label>
                }
                @if (ViewData["ClassOfficerFilter"].Equals(true))
                {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="classOfficerSearch" value="true" /> Class Officer
                    </label>
                }
                else
                {
                    <label class="form-check-label">
                        <input type="checkbox" name="classOfficerSearch" value="true" /> ClassOfficer
                    </label>
                }
                @if (ViewData["ROTCFilter"].Equals(true))
                {
                    <label class="form-check-label">
                        <input type="checkbox" checked="checked" name="rotcSearch" value="true" /> ROTC
                    </label>
                }
                else
                {
                    <label class="form-check-label">
                        <input type="checkbox" name="rotcSearch" value="true" /> ROTC
                    </label>
                }
            </div>
            <div class="col-md-4 mb-3">
                <input type="search" placeholder="Other Activities" name="otherSearch" value="@ViewData["OtherFilter"]" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <button type="submit" class="btn btn-secondary">Apply Filters</button>
            </div>
            <div class="col-md-6 mb-3">
                <a asp-action="Index" class="btn btn-dark">Clear Filters</a>
            </div>
        </div>
    </form>
</div>

<form asp-controller="Alumni" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="allcheck" id="selectAll" /> Select All
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]">First Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]">Last Name</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SchoolSortParam"]">School</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GraduationSortParam"]">Graduation Year</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParam"]">City</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StateSortParam"]">State</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CountrySortParam"]">Country</a>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model[i].Selected" value="true" type="checkbox" class="selected" />
                        <input asp-for="@Model[i].Id" type="hidden"/>
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].School)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].GraduationYear)
                    </td>

                    <td>
                        @Html.DisplayFor(model => Model[i].City)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].State)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].Country)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete Selected
        </button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportModal">
            Export Selected
        </button>
        <a class="btn btn-primary" asp-area="" asp-controller="DeletedAlumni" asp-action="Index">Recover Data</a>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to delete the selected entries?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" asp-action="DeleteAlumni" class="btn btn-warning">Delete Selected</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportModalLabel">Export</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>The selected records will be exported to a .csv file and emailed to the logged in user's email address.'</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" asp-action="Export" class="btn btn-success">Export</button>
                </div>
            </div>
        </div>
    </div>
</form>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

@section scripts{
    <script>
             $(function (){
            $("#selectAll").click(function (){
                $("input[class=selected]").prop('checked', $(this).prop('checked'));
            });
            $("input[class=selected]").click(function () {
                if(!$(this).prop("checked")) {
                    $("#selectAll").prop("checked", false);
                }
            });
        })
    </script>
}
