@model IList<ElyriaAlumniAssociation.Models.Alumnus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Search Criteria (Filters Are Cumulative)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form method="get" asp-action="Index">
            <td>
                
                    <p>
                        <input type="search" placeholder="First Name" value="@ViewData["FirstNameSearch"]" name="FirstNameSearch" />
                    </p>
                    <p>
                        <input type="search" placeholder="Last Name" value="@ViewData["LastNameSearch"]" name="LastNameSearch" />
                    </p>
                    <p>
                        <input type="search" placeholder="Last Name at Graduation" value="@ViewData["LastNameAtGraduationSearch"]" name="LastNameAtGraduationSearch" />
                    </p>  
            </td>
            <td>
                <p>
                    <input type="search" placeholder="Email" value="@ViewData["EmailSearch"]" name="EmailSearch" />
                </p>
                <p>
                    <input type="search" placeholder="Phone Number" value="@ViewData["PhoneNumberSearch"]" name="PhoneNumberSearch" />
                </p>
                <p>
                    <input type="search" placeholder="School Attended" value="@ViewData["SchoolSearch"]" name="SchoolSearch" />
                </p>
            </td>
            <td>
                <p>
                    <label for="GraduationStart">Graduation Year Range Start</label>
                    <br />
                    <input type="search" placeholder="Graduation Years Start" value="@ViewData["GraduationYearStartSearch"]" name="GraduationYearStartSearch" id="GraduationStart" />
                </p>
                <p>
                    <label for="GraduationEnd">Graduation Year Range End</label>
                    <br />
                    <input type="search" placeholder="Graduation Years End" value="@ViewData["GraduationYearEndSearch"]" name="GraduationYearEndSearch" id="GraduationEnd"/>
                </p>
            </td>
            <tr>
                <td>
                <input type="submit" value="Apply Filters" />
                </td>
            <td>
                <a asp-action="Index" class="btn btn-primary">Clear Filters</a>
            </td>
            </tr>
            </form>
    </tbody>
</table>
<form asp-action="DeleteAlumni" asp-controller="Alumni" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="allcheck" id="selectAll" /> Select All
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Middle Initial
                </th>
                <th>
                    Last Name at Graduation
                </th>
                <th>
                    School
                </th>
                <th>
                    Graduation Year
                </th>

                <th>
                   Email Address
                </th>
                <th>
                    Phone Number
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model[i].Selected" value="true" type="checkbox" />
                        <input asp-for="@Model[i].Id" type="hidden"/>
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].MiddleInitial)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].LastNameAtGraduation)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].School)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].GraduationYear)
                    </td>

                    <td>
                        @Html.DisplayFor(model => Model[i].EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(model => Model[i].PhoneNumber)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@{
    var Model[i]s = Model.ToList();
    <a asp-action="DeleteAlumni" asp-route-alumni="@Model[i]s[0].Alumni">Delete Selected</a>
    }*@
    <div>
        <input type="submit" value="Delete Selected" />
    </div>
</form>

@section scripts{
    <script>
             $(function (){
            $("#selectAll").click(function (){
                $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
            });
            $("input[type=checkbox]").click(function () {
                if(!$(this).prop("checked")) {
                    $("#selectAll").prop("checked", false);
                }
            });
        })
    </script>
}
